<app-topbar></app-topbar>
<div class="home">
  <div class="container">
    <div class="calendar-top">
      <table>
        <tr>
          <td>Năm 2018</td>
          <td>Tháng 7</td>
        </tr>
      </table>
    </div>
    <div class="calendar-content">
      <table>
        <tr>
          <td>Sun</td>
          <td>Mon</td>
          <td>Tue</td>
          <td>Wed</td>
          <td>Thu</td>
          <td>Fri</td>
          <td>Sat</td>
        </tr>
        <tr *ngFor="let day  of [0,7,14,21,28]">
          <td>{{days[day]}}</td>
          <td>{{days[day+1]}}</td>
          <td>{{days[day+2]}}</td>
          <td>{{days[day+3]}}</td>
          <td>{{days[day+4]}}</td>
          <td>{{days[day+5]}}</td>
          <td>{{days[day+6]}}</td>
        </tr>
      </table>
    </div>

    <div class="buttons">
      <div class="button details">CHI TIẾT</div>
      <div class="button donate">TÀI TRỢ</div>
    </div>

    <h1 class="title">Trung Thu Yêu Thương 2018</h1>
    <p class="desc">Trường Tiểu học Tân Quới A, xã Tân Quới, huyện Bình Tân, tỉnh Vĩnh Long</p>
  </div>
</div>
