<app-topbar></app-topbar>
<div class="home">
  <div class="container">
    <div class="calendar-top">
      <table>
        <tr>
          <td>Năm 2018</td>
          <td>Tháng 5</td>
        </tr>
      </table>
    </div>


    <div class="calendar-content">
      <table>
        <tr>
          <td>Mon</td>
          <td>Tue</td>
          <td>Wed</td>
          <td>Thu</td>
          <td>Fri</td>
          <td>Sat</td>
          <td>Sun</td>
        </tr>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
          <td>5</td>
          <td>6</td>
          <td>7</td>
        </tr>
        <tr>
          <td>8</td>
          <td>9</td>
          <td>10</td>
          <td>11</td>
          <td>12</td>
          <td>13</td>
          <td>14</td>
        </tr>
        <tr>
          <td>15</td>
          <td>16</td>
          <td>17</td>
          <td class="event">18</td>
          <td class="event">19</td>
          <td>20</td>
          <td>21</td>
        </tr>
        <tr>
          <td>22</td>
          <td>23</td>
          <td>24</td>
          <td>25</td>
          <td>26</td>
          <td>27</td>
          <td>28</td>
        </tr>
        <tr>
          <td>29</td>
          <td>30</td>
          <td>31</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>

    <div class="buttons">
      <div class="button details">CHI TIẾT</div>
      <div class="button donate">TÀI TRỢ</div>
    </div>

    <h1 class="title">Trung Thu Yêu Thương 2018</h1>
    <p class="desc">Trường Tiểu học Tân Quới A, xã Tân Quới, huyện Bình Tân, tỉnh Vĩnh Long</p>
  </div>
</div>