<div class="top-bar" #parentsDiv [ngStyle]="{'background': topBarColor}">
  <div class="container">
    <div class="logo">
      <img src="../../../assets/images/logo-3.png" height="50px" alt="">
    </div>
    <div [ngClass]="{'menu-container':isShow,'menu-container-responsive':!isShow}" [ngStyle]="{'right' : rightPos}" id="menu-container" #menuContainerRes>
      <ng-container *ngFor="let menu of menuList">
        <div [ngClass]="{'menu':isShow,'menu-responsive':!isShow}" (click)="menuClick(menu)" [class.menu-active]="menu === menuList[selectedMenuIndex]">{{menu}}</div>
      </ng-container>
    </div>
    <div [hidden]="isShow" class="menu-button" (click)="menuButtonClick()">
      <div class="bar" id="bar1"></div>
      <div class="bar" id="bar2"></div>
      <div class="bar" id="bar3"></div>
    </div>
  </div>
</div>
