/*
 **************************************************************
 *							GLOBALS
 **************************************************************
*/

body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', sans-serif;
  background-image: url(../../../assets/images/bg-pattern.png);
}

/*
 **************************************************************
 *							TOP-BAR
 **************************************************************
*/
.top-bar {
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  width: 100vw;
<<<<<<< HEAD
  margin: 0px auto;
=======
  margin: 0 auto;
  background-color: #f47b60;
>>>>>>> d35bf959317bee224be4935a34e1d469605c44a3
  position: fixed;
  z-index: 1;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  transition: background 0.3s;
}

.top-bar .container {
<<<<<<< HEAD
  margin: 0px auto;
=======
  margin: 0 auto;
>>>>>>> d35bf959317bee224be4935a34e1d469605c44a3
  position: relative;
  height: 100%;
}

/*
 **************************************************************
 *							LOGO
 **************************************************************
*/

.top-bar .container .logo {
  position: absolute;
  top: 10px;
  left: 10%;
}

/*
 **************************************************************
 *					MENU-CONTAINER (TOPBAR)
 **************************************************************
*/

.top-bar .menu-container {
  width: max-content;
  height: max-content;
  top: 0;
  bottom: 0;
  right: 0;
  margin: 0px 0px 0px 40%;
}

/*
 **************************************************************
 *						 	  MENU
 **************************************************************
*/
.top-bar .menu-container .menu {
  display: inline-block;
  font-size: 17px;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  cursor: pointer;

  line-height: 70px;
  transition: background-color 0.3s, color 0.3s;
}

.top-bar .menu-container .menu:hover {
  background-color: white;
  color: #06182a;
}

.top-bar .menu-container .menu-active{
  background-color: white;
  color: #06182a;
}

/*
 **************************************************************
 *							MENU BUTTON
 **************************************************************
*/

.top-bar .menu-button{
  position: absolute;
  width: 40px;
  height: 30px;
  top: 0;
  margin: auto 0;
  bottom: 0;
  right: 50px;
  border-radius: 4px;
  border: 2px solid transparent;
  cursor: pointer;
  transition: 0.3s;
}

.top-bar .menu-button:hover{
  border: 2px solid white;
}

.top-bar .menu-button:hover:after{
	transform: translateX(0);
	opacity: 1;
}

.top-bar .menu-button .bar{
  position: absolute;
  left: 5px;
  right: 5px;
  height: 4px;
  background-color: white;
  border-radius: 3px;
}

.top-bar .menu-button #bar1{
  top: 5px;
}

.top-bar .menu-button #bar2{
  top: 5px;
  bottom: 5px;
  margin: auto 0;
}

.top-bar .menu-button #bar3{
  bottom: 5px;
}

/*
 **************************************************************
 *						  MENU RESPONSIVE
 **************************************************************
*/

.top-bar .menu-container-responsive{
	position: fixed;
	height: 100%;
	width: 30vw;
	min-width: 250px;
	background-color: rgb(228, 228, 228);
	padding-top: 10px;
	padding-bottom: 10px;
	top: 70px;
	transition: right 0.7s;
	z-index: 1;
}

.top-bar .menu-container-responsive .menu-responsive{
	display: block;
	font-size: 20px;
	font-weight: bold;
	padding-left: 20px;
	padding-right: 20px;
	color: #f47b60;
	cursor: pointer;
	line-height: 35px;
	transition: padding-right 0.3s;
	text-align: right;
	border-bottom: 1px solid #f47b60;
}

.top-bar .menu-container-responsive .menu-responsive:hover{
	background-color: #f47b60;
	color: white;
	padding-right: 30px;
}
