<div class="post">
  <div class="thumbnail">
    <img src="../../../assets/images/background.png" alt="">
  </div>
  <div class="content">
    <h2 class="title">JIddia wjdi ajwdajwdiajwd iajwid adnaknfw jjhgwo</h2>
    <p class="desc">hdhah udw aidiway diuwugfiu3urugi gjfefuwh uiwehfu hweuhwui dhwiudhjsn djabda nbdnasb dnbcfasbd ajddkba skjdada wbjdj</p>
    <div class="post-footer">
      <div class="author">dhauhduiawhdwdgawdd</div>
      <div class="post-date">11/11/2018</div>
      <div class="tags">
        <span class="tag">dbka da ddaw</span>
        <span class="tag">dbka wgda wgd </span>
      </div>
      
    </div>
    <div class="button">Đọc tiếp</div>
  </div>
  
</div>